.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  padding: 0 66px;
  background-color: var(--background-color);
  .profile-list{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin-top: 24px;
    width: 100%;
    .profile-item{
        cursor: pointer;
        width: 30%;
        text-align: center;
    }
  }
}

@media screen and (max-width: 739px) {
    .profile-list{
        .profile-item{
            margin-bottom: 41px;
            width: 50%!important; 
        }
    }
}
