:root{
    --error-color: #de1d02;
    --success-color: #0E927D;
    --background-color: #FFF3E3;
    --secondary-font: 'El Messiri', sans-serif;
    --primary-font: 'Barlow Semi Condensed', sans-serif;
}